html{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    min-height: 100%;
}
button{
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    background-color: #4CAF50;
    border-radius: 5px;
}
button:hover{
    background-color: #006400;
}


.logo{
    max-width: 100%;
    max-height: 100%;
}
.logo-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    max-width: 600px;
    min-width: 200px;
}
.info-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 600px;
    min-width: 200px;
}
.info{
    font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    color:#000000;
    text-decoration: none;
}
.sub-title{
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
    color:#000000;
    text-decoration: none;
}
.grid-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 200px;
    margin-top: 10px;
}
.grid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.5vw;
}
.container {
    position: relative;
    width: 32%;
    cursor: pointer;
}
.container:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.grid-toggle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin-top: 30px;
    font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
.toggle{
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}
.underline{
    border-bottom: 2.5px solid  #000000;
}
.img-container{
    display: flex;
    flex-direction: column;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    padding-bottom: 5vh;
}
.img-info{
    padding: 5px;
}
.img-title{
    font-weight: bold;
}
.img-camera{
    font-weight:normal
}
.img-date{
    font-size: calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
.votebutton{
    background-color: #4267B2;
    border-color: #1c2830;
    color: white;
    align-items: center;
    text-align: center;
    width: 20%;
    margin: 10px;
    padding: 10px;
    font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
}
.votebutton:hover{
    background-color: #1c2830;
    color: white;
}

#warning{
    color: #cd2026;
    margin-top: 20px;
}
#pages{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    min-width: 200px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

